# QUESTION 1

In [10]:
a = 0  # global variable 'a' is set to 0

def b():
    global a  # Use the global variable 'a'
    a = c(a)  # Updating 'a' with the result of c(a)

def c(a):
    return a + 2  # Return 'a' incremented by 2


b()  # At this execution, 'a' changes to 2
b()  # After this, 'a' increments by 2 and becomes 4
b()  # After this, 'a' increments by 2 and becomes 6

a    # 'a' becomes 6 when its evaluated

6

# QUESTION 2

In [14]:
def fileLength(file_name):
    try:
        file = open(file_name, 'r')  # Opening the file in read mode
        contents = file.read()       
        file.close()               
        print(len(contents))         # Print the length of the contents
    except FileNotFoundError:
        print('File {} not found.'.format(file_name))  # Handling file not found error

# Example usage:
fileLength('Filelength.txt')  # printing the length of the file
fileLength('idterm.py')   # printing "File idterm.py which does not exist."

123
File idterm.py not found.

# QUESTION 3

In [15]:
class Marsupial:
    def __init__(self):
        self.pouch = []  # Initializing an empty pouch
    
    def put_in_pouch(self, item):
        self.pouch.append(item)  # Adding item to the pouch
    
    def pouch_contents(self): # Method to return the contents of the pouch
        return self.pouch  

class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()  # Initializing the parent class's constructor
        self.x = x  
        self.y = y  
    
    def jump(self, dx, dy):   # Method to move the Kangaroo
        self.x += dx  
        self.y += dy  
    
    def __str__(self):  # Method to provide a custom string representation
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"  


k = Kangaroo(0, 0)
print(k)  # Output: I am a Kangaroo located at coordinates (0,0)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())  # Output: ['doll', 'firetruck', 'kitten']
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)  # Output: I am a Kangaroo located at coordinates (3,0)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

# QUESTION 4

In [17]:
def collatz(x):
    print(x)  
    if x == 1: # Base case: Stop when x is 1
        return  
    elif x % 2 == 0:   #if x is even
        collatz(x // 2)  
    else:              #if x is odd
        collatz(3 * x + 1)  

collatz(1)

1

In [18]:
collatz(10)

10
5
16
8
4
2
1

# QUESTION 5

In [21]:
def binary(n):
    
    if n < 2:  # Base case: n is 0 or 1
        print(n, end='')
    else:
        binary(n // 2)  # Recursive call with floor division by 2
        print(n % 2, end='')  # Print the remainder without a newline


binary(0)  
print()  
binary(1)  
print()  
binary(3) 
print()  
binary(9)  
print()

0
1
11
1001

# QUESTION 6

In [24]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.current_level = 0  # Tracking the current heading level

    def handle_starttag(self, tag, attrs):
        if tag in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']:
            self.current_level = int(tag[1])  # Getting the level from the tag name

    def handle_endtag(self, tag):
        if tag in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']:
            self.current_level = 0  # Resetting the level after the tag ends

    def handle_data(self, data):
        if self.current_level > 0:
            print(' ' * (self.current_level - 1) + data)


infile = open('w3c.txt')
content = infile.read()
infile.close()

hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

# QUESTION 7

In [27]:
import requests
from bs4 import BeautifulSoup
from urllib.parse import urljoin

def webdir(url, depth, indent):
    if depth < 0:
        return
    
    # Printing the current URL with the specified indentation
    print(' ' * indent + url)
    
    try:
        response = requests.get(url)
        if response.status_code != 200:
            return
        soup = BeautifulSoup(response.content, 'html.parser')
        
        # Finding all anchor tags and recursively exploring the links
        for link in soup.find_all('a', href=True):
            href = link['href']
            full_url = urljoin(url, href)
            if full_url.startswith('http'):
                webdir(full_url, depth - 1, indent + 4)
    except requests.exceptions.RequestException as e:
        print(e)


webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

# QUESTION 8

In [32]:
import sqlite3

# creating the database
conn = sqlite3.connect('weather.db')
cursor = conn.cursor()

cursor.execute('DROP TABLE IF EXISTS Weather')

# Creating the table 
cursor.execute('''
CREATE TABLE IF NOT EXISTS Weather (
    City TEXT,
    Country TEXT,
    Season TEXT,
    Temperature REAL,
    Rainfall REAL
)
''')

# Inserting the data into the table
data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
]

cursor.executemany('INSERT INTO Weather VALUES (?, ?, ?, ?, ?)', data)
conn.commit()

# All Queries

# a) All the temperature data
cursor.execute('SELECT Temperature FROM Weather')
print("All temperature data:")
for row in cursor.fetchall():
    print(row[0])

# b) All the cities, but without repetition
cursor.execute('SELECT DISTINCT City FROM Weather')
print("\nAll cities (no repetition):")
for row in cursor.fetchall():
    print(row[0])

# c) All the records for India
cursor.execute("SELECT * FROM Weather WHERE Country = 'India'")
print("\nAll records for India:")
for row in cursor.fetchall():
    print(row)

# d) All the Fall records
cursor.execute("SELECT * FROM Weather WHERE Season = 'Fall'")
print("\nAll Fall records:")
for row in cursor.fetchall():
    print(row)

# e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters
cursor.execute("SELECT City, Country, Season FROM Weather WHERE Rainfall BETWEEN 200 AND 400")
print("\nCity, country, and season for rainfall between 200 and 400 mm:")
for row in cursor.fetchall():
    print(row)

# f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order
cursor.execute("SELECT City, Country FROM Weather WHERE Season = 'Fall' AND Temperature > 20 ORDER BY Temperature ASC")
print("\nCity and country for Fall temperature above 20 degrees (sorted by temperature):")
for row in cursor.fetchall():
    print(row)

# g) The total annual rainfall for Cairo
cursor.execute("SELECT SUM(Rainfall) FROM Weather WHERE City = 'Cairo'")
print("\nTotal annual rainfall for Cairo:")
print(cursor.fetchone()[0])

# h) The total rainfall for each season
cursor.execute("SELECT Season, SUM(Rainfall) FROM Weather GROUP BY Season")
print("\nTotal rainfall for each season:")
for row in cursor.fetchall():
    print(f"{row[0]}: {row[1]}")

# Close the connection
conn.close()

All temperature data:
24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2

All cities (no repetition):
Mumbai
London
Cairo

All records for India:
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

All Fall records:
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

City, country, and season for rainfall between 200 and 400 mm:
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

City and country for Fall temperature above 20 degrees (sorted by temperature):
('Cairo', 'Egypt')
('Mumbai', 'India')

Total annual rainfall for Cairo:
27.6

Total rainfall for each season:
Fall: 569.0
Spring: 192.29999999999998
Summer: 1706.5
Winter: 230.1

# QUESTION 9

In [29]:
# Defining the list of words
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# a) Uppercase all the words
uppercase_words = [word.upper() for word in words]
print(uppercase_words)
# Output: ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

# b) Lowercase all the words
lowercase_words = [word.lower() for word in words]
print(lowercase_words)
# Output: ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# c) List of lengths of each word
lengths = [len(word) for word in words]
print(lengths)
# Output: [3, 5, 5, 3, 5, 4, 3, 4, 3]

# d) List containing a list for every word with the word in uppercase, lowercase, and length
word_info = [[word.upper(), word.lower(), len(word)] for word in words]
print(word_info)
# Output: [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

# e) List of words containing 4 or more characters
long_words = [word for word in words if len(word) >= 4]
print(long_words)
# Output: ['quick', 'brown', 'jumps', 'over', 'lazy']

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']